/**
==================================================
;   Title: Global.css
;   Author: Richard Krasso
;   Date: 01 05 2023
;   Modified by: Patrick Cuauro
;   Description: Global Styling for WEB330
================================================== 
 */
body {
  margin: 0;
  padding: 20px;
  font-family: "Oswald", Verdana, Arial, sans-serif;
}

header {
  background-color: #3c275a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

#navbar {
  overflow: hidden;
  background-color: #4f3674;
  border-bottom: 15px solid #d6a800;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #d6a800;
  color: #4f3674;
}

#container {
  padding: 10px;
}

footer {
  background-color: #4f3674;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
}

footer p {
  color: #fff;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
  font-size: 0.75em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}
