/*
===========================================
; Title: cuauro-bobs-auto-repair.css
; Author: Professor Krasso
; Date: 01 30 2023
; Modified by: Patrick Cuauro
; Description: style sheet Auto repair app
===========================================
*/
/* step a and b page 5  this styling is for the message under the select input */
#cart-message {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}
i:hover {
  cursor: pointer;
}
