/*
===========================================
; Title: restaurant.css
; Author: Professor Krasso
; Date: 01 17 2023
; Modified by: Patrick Cuauro
; Description: style sheet restaurant
===========================================
*/
.card-grid {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    text-align: justify;
    box-shadow: inherit;
    transition: inherit;
}