/*
===========================================
; Title: cuauro-future-value.css
; Author: Professor Krasso
; Date: 02 06 2023
; Modified by: Patrick Cuauro
; Description: style sheet future app
===========================================
*/
.danger {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}
.form-label {
  display: inline-block;
  padding: 1rem;
}
